body { 
	background-color: #000 !important;
}

.container {
  margin: 0 auto;
  text-align: center;
}

div h1 {
  font-family: 'Source Code Pro';
  font-weight: 200;
  margin-top: 37.3vh;
  color: #00ff00;
  font-size: 60px;
  margin-bottom: 2vh;
}

p {
  font-family: 'Source Code Pro';
  font-weight: 100;
  color: #00ff00;
}

p.copyright {
  margin-top: 3vh;
  font-size: 14px;
}

li {
  margin-left: 1.5vw;
  text-decoration: none;
}

li a {
  color: #00ff00;
}

li a:hover {
  color: #fff;
  text-decoration: none;
}

ul li {
  color: #00ff00;
  font-size: 13px;
  font-weight: 100;
  font-family: "Source Code Pro";
}

ul {
  list-style-type: none;
  padding: 0 0 0 0;
}

#left {
  float: left;
}

#right {
  float: right;
	margin-right: 1.5vw;
}

.favicons {
  margin-left: 3px;
}

.favicons a:hover {
  color: #fff;
  text-decoration: none;
}

.favicons a {
  display: inline-block;
  width: 80px;
  font-size: 5vh;
  color: #00ff00;
}

#dont-turn-blue {
  color: #00ff00;
}

#dont-turn-blue:hover {
  color: #fff;
}
